<div class="vcard">
    <p class="fn"><a class="url" href="#">Alegri International Service GmbH - Standort Stuttgart</a><p>
    <p class="adrress">
        <span class="street-address">Meitnerstr. 10</span><br>
        <span class="city-address">70563 Stuttgart</span><br>
    </p>
    <p class="tel">+49 (0)711 68 68 810</p>
</div>